.form{
    display: flex;
    justify-content: center;
    &_input{
        border-radius: 5px;
        border: solid white;
        padding: 1rem;
        background-color: rgb(181, 219, 223);
        
    }
}