@import './core/reset';

.header{
    background-color: black;
    display: flex;
    justify-content: center;
    &_container{
        width: 500px;
        @media (max-width: 380px){
            width: 300px;
        }
        @media (max-width: 700px){
            width: 400px;
        }
        &_logo{
            width: 100%;
        }
    }
}

.main{
    background-color: black;
    height: 100%;
    
}